extends templates/header
block main
	<!--[if lt IE 10]>
		p.browserupgrade Estas usando un navegador strong OBSOLETO E INSEGURO. Por favor actualizalo
			strong
				a(href='http://browsehappy.com/')  AQUÍ
			|  para mejorar tu experiencia y seguridad.
	<![endif]-->
	header.header
		section.saludo
			p.saludo__hola.bubble
				span ¡Hola!
			h1.saludo__nombre Soy
				span.bold  Joshua Torres
			h2.saludo__cargo Desarrollador Front End
	section.main-section
		section.cont-boxes
			a(href='http://seguristore.cl/', target='_blank')
				div.box
					img(src='img/logos/seguristore.png', alt='Seguristore', width='300', height='300').box__img
			a(href='http://physiolift-avene.cl/', target='_blank')
				div.box
					img(src='img/logos/physiolift.png', alt='Avene Physiolift', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/solares/', target='_blank')
				div.box
					img(src='img/logos/solares.png', alt='Avene Solares', width='300', height='300').box__img
			a(href='bci.html')
				div.box
					img(src='img/logos/bci.png', alt='Bci', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/felizconmiredcompra/', target='_blank')
				div.box
					img(src='img/logos/redcompra.png', alt='Feliz Red Compra Landing', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/mjo/', target='_blank')
				div.box
					img(src='img/logos/mjo.png', alt='Manuel Jose Osandon Landing', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/kenwood/', target='_blank')
				div.box
					img(src='img/logos/kenwood.png', alt='Kenwood Landing', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/fdv/', target='_blank')
				div.box
					img(src='img/logos/fdv.png', alt='FDV', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/umayor/repo/', target='_blank')
				div.box
					img(src='img/logos/postgrado_mayor.png', alt='UMayor', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/finning', target='_blank')
				div.box
					img(src='img/logos/finning.png', alt='Finning', width='300', height='300').box__img
			a(href='http://marsol.cl/', target='_blank')
				div.box
					img(src='img/logos/marsol.png', alt='Marsol', width='300', height='300').box__img
			a(href='http://www.joshua.cl/trabajos/apicola/', target='_blank')
				div.box
					img(src='img/logos/apicola.png', alt='Apicola Santa Adriana', width='300', height='300').box__img
	include templates/footer.pug