extends templates/header
block main
	header.header
		section.saludo.saludo--cliente
			a(href="http://www.joshua.cl/")
				p.saludo__hola.bubble
					span Inicio
			h1.saludo__nombre
				span.bold  RedCompra
	section.main-section
		p.infoCliente Landing de RedCompra para agencia
			a(href='http://love.cl/', target='_blank').infoCliente__link Love
		section.cont-boxes
			a(href='http://www.joshua.cl/trabajos/felizconmiredcompra/inicio', target='_blank')
				div.box.box-txt Inicio
			a(href='http://www.joshua.cl/trabajos/felizconmiredcompra/video', target='_blank')
				div.box.box-txt Video
			a(href='http://www.joshua.cl/trabajos/felizconmiredcompra/preguntas', target='_blank')
				div.box.box-txt Preguntas
			a(href='http://www.joshua.cl/trabajos/felizconmiredcompra/cierre', target='_blank')
				div.box.box-txt Cierre
	include templates/footer.pug